#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: aliceblue;
}

.alert-container {
  margin: 50px;
  position: fixed;
  top: 10px;
  right: 10px;
  width: auto;
  z-index: 1050;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("../src/images/view-3d-cinema-theatre-room.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
