.table-container {
  margin: 50px;
}

.table-container .table {
  overflow: hidden;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.table td, .table th {
  vertical-align: middle; 
  text-align: center; 
  padding: 10px;
}

.table td .btn {
  margin: 0 10px;
}
